@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Faustina:ital,wght@0,300..800;1,300..800&family=Inconsolata:wght@200..900&family=Indie+Flower&family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lora:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&family=Single+Day&display=swap');

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #DDD0D1;
    --purple: #B39E9F;
    --grey-1: #F8F9FA;
    --big-container-width: 1500px;
    --container-width: 800px;
}

html, body {
    height: 100vh;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    max-width: var(--big-container-width);
    overflow: hidden;
    margin: 0 auto;
    container: container / inline-size;
    display: flex;
}

@keyframes go {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@container container (min-width: 1000px) {
    .purple {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0;
        flex-basis: calc(100cqw / 4);
        background-color: var(--purple);

        & .avatar {
            width: calc(100cqw / 6);
            height: calc(100cqw / 6);
            border-radius: 50%;
            border: 2px solid var(--white);
            overflow: hidden;
        }

        & .avatar__img {
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1/1;
        }
    }

    .pink {
        width: calc(100cqw * 0.75);
        background-color: var(--pink);
        padding-left: 1.8rem;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
    }

    .pink__footer {
        flex-direction: row;
        align-items: center;
        padding: 0.8rem;
    }

    .title_name {
        margin: 2rem 0 0;
        font-weight: 500;
        font-size: 1.8rem;
    }

    .title_position {
        font-family: "Lora", serif;
        font-weight: 300;
        font-style: italic;
        font-size: 1.3rem;
    }

    .tabs__menu {
        list-style-type: none;
        display: flex;
        padding: 0;
        gap: 2.5rem;
        margin: 0;
    }

    .tabs__list_elem {
        text-decoration: none;
        font-family: "Lora", serif;
        font-weight: 300;
        font-style: normal;
        line-height: 100%;
        font-size: 1.1rem;
        color: var(--black);
    }

    .tabs__list_elem:after {
        content: '';
        display: block;
        position: relative;
        top: 8%;
        height: 4px;
        background-color: var(--black);
        transform: scaleX(0);
    }

    .tabs__list_elem:hover:after {
        animation: go 250ms linear;
        animation-fill-mode: forwards;
    }
}
